.sliderItem {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 150px;
  z-index: 1;
  @media all and (min-width: 600px) {
    width: calc(100% / 2);
  }
  @media all and (min-width: 768px) {
    width: calc(100% / 3);
  }
  @media all and (min-width: 980px) {
    width: calc(100% / 4);
  }
  @media all and (min-width: 1260px) {
    width: calc(100% / 5);
  }
  @media all and (min-width: 1800px) {
    width: calc(100% / 6);
  }
}

.sliderItemInner {
  margin: 0 5px;
  border-radius: 2px;
  position: relative;
}
.cover {
  width: 100%;
  height: auto;
}



//---------------- Scaling effect for hovering over a movieItem ----------------------

.preview {
  display: none;
  height: 200%;
  width: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: 2;
  transition: all 0.4s ease;
  transform: scale(0.5);
  text-shadow: 0 1px 1px rgba(black, 0.6);

  .info {
    position: absolute;
    top: 60%;
    left: 10%;
    display: block;
    width: 100%;
    margin-bottom: 0.3vw;
    font-size: 0;

    .movieTitle {
      display: block;
      width: 100%;
      font-size: 2vw;
      font-weight: 600;
      margin-bottom: 0.3vw;
    }
    .duration {
      display: inline-block;
      width: auto;
      font-size: 1.5vw;
    }
    .age {
      display: inline-block;
      position: relative;
      width: auto;
      font-size: 1.5vw;
      padding: 0 0.4em;
      margin-right: 0.4vw;
      border: solid 1px rgba(white, 0.4);
    }
  }

  .openContent {
    position: absolute;
    bottom: 2%;
    left: 50%;
    font-size: 2.5rem;
    transform: translate(-50%);
  }

  #play {
  position: absolute;
    top: 20%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 100px;
  }

  #play:hover{
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
  }
}

.playVideo {
  max-width: 100%;
  height: auto;
}

.sliderItem {
  transition: transform 300ms ease 100ms;
  overflow: visible;
}

.sliderItem:after {
  content: "";
  display: block;
}

.sliderMask:hover .sliderItem {
  transform: translateX(-25%);
}

.sliderItem:hover ~ .sliderItem {
  transform: translateX(25%);
}

.sliderMask .sliderItem:hover {
  transform: scale(1.5);

  .preview {
    display: block;
  }
  .cover {
    opacity: 0;
  }
}
