
// .gallery {
//   margin-top: 90px;
//   margin-bottom: 200px;;
// }

.gallery-title {
  padding: 0 60px;
  font-size: 2.5rem;
  margin-top: 110px;
}

// .gallery{
//   width: 100%;
//   height: auto;
//   padding: 60px;
// }


// @media screen and (max-width: 1280px) and (min-width: 841px) and (orientation: landscape){
//   .gallery-title {
//       font-size: 0.85vw;
//   }
// }
