.sliderSpace {
  margin-bottom: 55px;
}

.gallery {
  margin-top: 90px;
}

.gallery-title {
  padding: 0 120px;
  font-size: 2.5rem;
  margin-top: 110px;
}


// @media screen and (max-width: 1280px) and (min-width: 841px) and (orientation: landscape){
//   .gallery-title {
//       font-size: 0.85vw;
//   }
// }
