.vid-container {
  width: 100%;
  position: relative;
  margin-top: 68px;

  .advertise-video {
    width: 100%;
    opacity: 0.8;
  }

  .ad-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 5%;
  }
  #ad-buttons {
    display: flex;
    justify-content: flex-start;
    width: 40%;
    margin-top: 15px;
  }
  #ad-buttons button{
    margin-right: 20px;
  }
  #ad-title {
    font-size: 60px;
    margin-bottom: 1rem;
  }
  #ad-description {
    width: 50%;
    font-weight: bold;
    line-height: 1.4;
  }
}
