#main-header {
  line-height: 1.2;
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "nt mn mn sb . . . ";
  background-color: #141414;
  width: 100%;
  height: 75px;
  margin-bottom: 0px;
  z-index: 1000;
}

.petflixLogo {
  grid-area: nt;
  object-fit: cover;
  width: 100px;
  max-height: 100%;

  padding-left: 30px;
  padding-top: 0px;
  position: relative;
}

.petflixLogo img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#logo {
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
}

.main-nav div,
a {
  color: #f3f3f3;
  text-decoration: none;
  margin: 5px;
}

.main-nav div:hover {
  color: #686868;
  cursor: pointer;
}
.main-nav a:hover {
  color: #686868;
  cursor: pointer;
}

.sub-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 0 30px 0 20px;
}

.fa-search{
  padding: 2px
}

.sub-nav > div {
  color: #f3f3f3;
  text-decoration: none;
  margin: 5px 10px 5px 10px;
}

.sub-nav > div:hover {
  color: #686868;
  cursor: pointer;
}

// ---------- genre dropdown menu-------------
.genre-list {
  display: none;
}
.genre-list {
  width: 150px;
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.5);
  padding: 23px 12px;
  padding-bottom: 14px;
  color: white;
  border: 1px groove dimgray;
  top: 87%;
  transform: translate(-50%);
  display: none;
}

.genre-list li {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
}

.genre-list li:hover {
  color: #686868;
}
.genre-caret {
  position: absolute;
  top: -7%;
  left: 40%;
  transform: translate(-50%);
  font-size: 20px;
  width: 50px;
  color: #686868;
}

#genre-link:hover .genre-list {
  display: inline;
}

.genre-list:hover {
  display: inline;
}

// -------- search button --------------
.search-container {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}
.search {
  position: relative;
  input {
    width: 0px;
    height: 34px;
    box-shadow: none;
    color: #fff;
    text-align: center;
    border: 1px solid transparent;
    outline: none;
    padding-left: 35px;
    font-size: 16px;
    transition: 0.3s ease all;
    cursor: text;
    &.toggle {
      width: 240px;
      border-color: #fff;
    }
  }
  .active {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    position: absolute;
  }
}

//--------account dropdown menu----------------

.account-dropdown-menu {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}


.account-dropdown-subMenu-container {
  display: none;
}
.account-dropdown-menu:hover {
  .account-dropdown-subMenu-container{
    display: block;
  }
}

.account-caret {
  right: 5.2%;
  position: absolute;
  top: 60px;
  font-size: 30px;
}

.account-sub-menu {
  width: 180px;
  background: rgba(0, 0, 0, 0.95);
  top: 80px;
  position: absolute;
  right: 4%;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.5);
  padding: 23px 12px;
  padding-bottom: 14px;
  color: white;
  border: 1px groove dimgray;
}

.account-border {
  border: 0.5px solid gray;
  margin-bottom: 12px;
  margin-top: 25px;
}

.account-sign-out:hover {
  color: #686868;
  cursor: pointer;
}
